[submodule "infrastructure/vendors/dfio"]
	path = infrastructure/vendors/dfio
	url = https://github.com/sl45sms/dfio.git
[submodule "infrastructure/vendors/swso2"]
	path = infrastructure/vendors/swso2
	url = https://github.com/sl45sms/swso2.git
[submodule "infrastructure/vendors/fio2pdf"]
	path = infrastructure/vendors/fio2pdf
	url = https://github.com/sl45sms/fio2pdf.git
